body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;

}

.main-section {
    padding: 0 20% 0;
}


.header-container {
    display: flex;
    justify-content: space-between;

}

.links-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.hero-section {
    display: inline-flex;
}

.hero-left-content,
.image-placeholder-container {
    width: 50%;
}

.image-placeholder-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: wheat;

}


.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cards-container {
    display: flex;
    gap: 60px;

}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.info-img {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
}

.info-text {
    text-align: center;
}


.quote-author {
    text-align: right;
}

.cta-container {
    display: flex;
    justify-content: space-between;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    border: 1px solid green;
}

.header-container * {
    border: 1px solid hwb(290 29% 7%);
}

.header-container>* {
    border: 2px solid hsl(15, 2%, 36%);
}


















/* ué, precisa ou não do código css das fontes?{

/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
   */
} */